.header {
    background: #fff;
    border-bottom: solid 2px #c1c1c1;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-align: center;
}

.header__logo {
    color: #706550;
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
}

.title {
    text-align: center;
}

.title__logo {
    padding: 30px 0;
    color: #706550;
    font-size: 20px;
}

.form {
    width: 60%;
    margin: 20px auto;
}

.form-item {
    padding: 24px 0;
    width: 100%;
    display: flex;
    align-items: center;
}